@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Réecriture des styles par défauts du navigateur*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease;
    text-decoration: none;
}

/*Contenue Header navigation début*/

section.home {
    width: 100%;
    height: 70vh;
}

.home .home-box{
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/Black.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: .4rem;
        border-radius: .4rem;
}

.home .home-box nav {
    height: 60px;
    background: linear-gradient(rgb(255, 255, 255, .2), rgb(255, 255, 255, .2));
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 10;
    position: relative;
}

.home .home-box nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.home .home-box nav .menu ul li a {
    color: black;
    text-decoration: none;
}

.home .home-box nav .signup-login {
        display: flex;
        align-items: center;
        gap: .5rem;
}

.home .home-box nav .signup-login a {
    color: black;
    padding: .3rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
}

.home .home-box nav .signup-login a:last-child {
    background: blanchedalmond;
    padding: .3rem 1rem;
}

.home .home-box nav .signup-login a:last-child:hover {
    color: white;
    background: burlywood;
}

.home .home-box .content {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0, -65px);
}

.home .home-box .content h2 {
    font-size: 3rem;
    max-width: 50rem;
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.home .home-box .content p {
    color: whitesmoke;
    font-weight: 400;
    max-width: 40rem;
    text-align: center;
    margin-bottom: 2rem;
}

.home .home-box .search {
    width: 100%;
    max-width: 30rem;
    height: 25px;
    background: white;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: .3rem;
}

.home .home-box .search i {
    color: rgba(0, 0, 0, .5);
    margin: 0 .6rem;
}

.home .home-box .search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.home .home-box .search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: bisque;
    border: none;
    outline: none;
    font-weight: 400;
    cursor: pointer;
}

.home .home-box .search button:hover {
    color: white;
    background: burlywood;
}

/*Contenue Header navigation fin*/

/*Contenue main liste des jeux début*/

.trending {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   }

  .trending h2 {
    color: black;
    padding: 0 1rem;
    font-weight: 500;
   }

   .gallery {
        margin-top: 4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
   }

   .gallery .box {
       height: 23rem;
       flex-grow: 1;
       overflow: hidden;
       border-radius: .8rem;
       position: relative;
   }

   .gallery .box img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       object-position: center;
   }

   .gallery .box .content {
        color: white;
        position: absolute;
        bottom: 0;
        padding: 1.5rem 2rem;
        left: 0;
        z-index: 1;
   }

   .gallery .box .content h2 {
       font-size: 1.4rem;
       color: white;
       font-weight: 500;
   }











